<!DOCTYPE html>
<html>

<head>
{% include "header.html"%}
</head>

<body>
    <main> 
    <div id="mapid"></div>

    <aside>
    <div class="mymenu">
        <div class="tab-wrap">
            <input id="TAB-01" type="radio" name="TAB" class="tab-switch" value="1"  onclick="radioDeselection(this, 1)" checked="checked" /><label class="tab-label" for="TAB-01">List</label>
            <div class="tab-content">
                <h2>データセット一覧</h2>
                <div class="side-scroll">
                  <div class="side-content-redirector-1">{{ side_data.points |safe}}</div>
                </div>
            </div>

            <input id="TAB-02" type="radio" name="TAB" class="tab-switch" value="2"  onclick="radioDeselection(this, 2)"/><label class="tab-label" for="TAB-02">Point</label>
            <div class="tab-content">
              {% if current_user.is_authenticated %}
              <li>Current User : {{current_user.name}}</li>
              <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
              {% else %}
                <li>Current User : Guest User</li>
                <li><a href="{{ url_for('login') }}">Sign In</a></li>
                <li><a href="{{ url_for('register') }}">Register Now</a></li>
              {% endif %}
              <div class="side-scroll">
                <div class="side-content-redirector-2">
                  {{ side_data.List |safe}}
                </div>
              </div>  
            </div>
    
            <input id="TAB-03" type="radio" name="TAB" class="tab-switch" value="3"  onclick="radioDeselection(this, 3)"/><label class="tab-label" for="TAB-03">Search</label>
            <div class="tab-content">
              <div class="search">
                  <input type="text" class="searchTerm" id="searchPosInput" placeholder="What are you looking for?">
                  <button type="button" class="searchButton" onclick="searchPositions();">検索</button>
              </div>
             
              <h2>検索結果：</h2>
              <div class="side-scroll">
                <div class="side-content-redirector-3">
                  {{ side_data.Route |safe}}
                </div>
              </div> 
            </div>


            <input id="TAB-04" type="radio" name="TAB" class="tab-switch" value="4"  onclick="radioDeselection(this, 4)"/><label class="tab-label" for="TAB-04">Favorite</label>
            <div class="tab-content">

                  {% if current_user.is_authenticated %}
                  <li>Current User : {{current_user.name}}</li>
                  <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                {% else %}
                  <li>Current User : Guest User</li>
                  <li><a href="{{ url_for('login') }}">Sign In</a></li>
                  <li><a href="{{ url_for('register') }}">Register Now</a></li>
                {% endif %}


              <div class="search">
                <input type="text" class="searchTerm" placeholder="What are you looking for?">
                <button type="submit" class="searchButton">検索</button>
              </div>

              <div class="side-content-redirector-4">
                {{ side_data.Favorite |safe}}

              </div>
            </div>
        </div>
    </div>


    </aside>
    </main>

</body>


<script type="text/javascript">
// 六本木を中心に地図描画
var map = L.map('mapid', {
  center: [35.6595549,139.6817241],
  zoom: 17,
}); 

// OpenStreetMap から地図画像を読み込む

var tileLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: '© <a href="http://osm.org/copyright">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
});
tileLayer.addTo(map);

// マーカー画像の場所を指定する

var marker = L.marker([35.6595549,139.6817241]).addTo(map);

var point_lat = 0;
var point_log = 0;

// var circle = L.circle([35.66572, 139.73100], {
//     color: 'red',
//     fillColor: '#f03',
//     fillOpacity: 0.5,
//     radius: 500
// }).addTo(map);
// var polygon = L.polygon([
//     [51.509, -0.08],
//     [51.503, -0.06],
//     [51.51, -0.047]
// ]).addTo(map);
// marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
// circle.bindPopup("I am a circle.");
// polygon.bindPopup("I am a polygon.");
// var popup = L.popup();

function onMapClick(e) {
    popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(map);
}

map.on('click', onMapClick);

function showPoint(x, y){
    alert("move to " + x + ", " + y);
    map.panTo(new L.LatLng(x, y));
    var marker2 = L.marker([x, y]).addTo(map);

    point_lat = x;
    point_log = y;

    // 要素を取得
    var element = document.getElementById( "TAB-02" ) ;
    element.checked = true ;
    Do_repetition(2);
}

//リダイレクト処理
function Do_repetition(numeric) {
  var ajax = new XMLHttpRequest;

  switch (numeric) {
  case 1:
    ajax.open('GET', "http://127.0.0.1:5000/getdata?type=MonitorCamList");
      var div = document.getElementsByClassName('side-content-redirector-1');
      ajax.onload = function (data) {
        const obj = JSON.parse(data.currentTarget.response);
        i = 0, len = obj.monitor_points.length;
        div[0].innerHTML = "";

        while (i < len) {
          div[0].innerHTML += '\
            <div class="side-point" onclick="showPoint('+obj.monitor_points[i].lat + ',' + obj.monitor_points[i].log + ')">\
              <h3>' + obj.monitor_points[i].name+'</h3>\
              <img src="' +  obj.monitor_points[i].cam_img_name +'" class="point-camera">\
              <p font-size="10px"> ' + obj.monitor_points[i].log +', ' + obj.monitor_points[i].lat +'</p>\
              <p font-size="10px">' + obj.monitor_points[i].description +'</p>\
            </div>';

          marker = L.marker([ obj.monitor_points[i].lat, obj.monitor_points[i].log]).addTo(map);
          marker.bindPopup(obj.monitor_points[i].name).openPopup();
          i++;
        }
      };
    break;
  case 2:
    ajax.open('GET', "http://127.0.0.1:5000/getdata?type=oneCamPos&lat=" + point_lat + "&log=" + point_log, true);
    var div = document.getElementsByClassName('side-content-redirector-2');
    ajax.onload = function (data) {
      console.log(data.currentTarget.response);
      const obj = JSON.parse(data.currentTarget.response);
      div[0].innerHTML = '\
      <div class="side-point" onclick="showPoint('+obj.lat + ',' + obj.log + ')">\
    <h3>' + obj.name +'</h3>\
    <img src="static/image/cat.jpg" class="point-thumb">\
    <img src="' +  obj.cam_img_name +'" class="point-camera">\
    <table class="point-info">\
        <tr><td><img src="static/image/PointAddressIcon.png" id="point-info-icon" width="20px"></td><td>' + obj.address +'</td></tr>\
        <tr><td><img src="static/image/PoinLogLatIcon.png" id="point-info-icon"  width="20px"></td><td>' + obj.log +', ' + obj.lat +'</td></tr>\
        <tr><td><img src="static/image/PointTypeIcon.png" id="point-info-icon" width="20px"></td><td>' + obj.type +'</td></tr>\
        <tr><td><img src="static/image/PointRuntimeIcon.png" id="point-info-icon" width="20px"></td><td>' + obj.runtime +'</td></tr>\
        <tr><td><img src="static/image/PointCrowdedIcon.png" id="point-info-icon" width="20px"></td><td>' + obj.crowded +'</td></tr>\
        <tr><td><img src="static/image/PointTelIcon.png" id="point-info-icon" width="20px"></td><td>' + obj.tel +'</td></tr>\
        <tr><td><img src="static/image/PointReviewIcon.png" id="point-info-icon" width="20px"></td><td>' + obj.tel +'<span class="star5_rating" data-rate="' + obj.tel +'"></span></td></tr>\
        </table>\
        <p id="point-description">' + obj.description +'</p>\
    </div>';
    };
    break;
  case 3:
    var url = "http://127.0.0.1:5000/getdata"
    var div = document.getElementsByClassName('side-content-redirector-3');
    break;
  case 4:
    var url = "http://127.0.0.1:5000/getdata"
    var div = document.getElementsByClassName('side-content-redirector-4');
    break;

  default:
    alert("somethiung unexpecteed happened!!");
  }
  ajax.send(null); // ajax開始

}



var remove = 0;
function radioDeselection(already, numeric) {
  if(remove == numeric) {
    already.checked = false;
    remove = 0;
  } else {
    remove = numeric;
    //alert("onclick");
    Do_repetition(numeric);
  }
}


window.onload = function(){
  //1000ミリ秒（1秒）毎に関数「showNowDate()」を呼び出す
  setInterval("reloadImage()", 3000);
}
 
//現在時刻を表示する関数
function reloadImage(){
  var img = document.getElementsByClassName('point-camera');
  i = 0, len = img.length;
  while (i < len) {
    img[i].src =  img[i].src.replace(/\?.*$/,"")+ "?r=" + Math.random(); 
    console.log(img[i].src);
    i++;
  }
}


function searchPositions(){
  var posString = document.getElementById("searchPosInput").value;
  var ajax = new XMLHttpRequest;
  console.log(posString);
  console.log(posString.replace(/ /g, "+"));

  ajax.open('GET', "http://127.0.0.1:5000/getdata?type=searchPos&pos=" + posString.replace(/ /g, "+"));
  var div = document.getElementsByClassName('side-content-redirector-3');
  ajax.onload = function (data) {
    console.log("Hello World!!");
    const obj = JSON.parse(data.currentTarget.response);
    i = 0, len = obj.numPos;
    div[0].innerHTML = "Result : " + len + "points<br><br>";
    console.log(len);

    while (i < len) {
      console.log(i);
      div[0].innerHTML += '\
        <div class="side-point" onclick="showPoint('+obj.points[i].lat + ',' + obj.points[i].log + ')">\
        <h3>' + obj.points[i].name +'</h3>\
        <table class="point-info">\
          <tr><td><img src="static/image/PointAddressIcon.png" id="point-info-icon" width="20px"></td><td>' + obj.points[i].address +'</td></tr>\
          <tr><td><img src="static/image/PoinLogLatIcon.png" id="point-info-icon"  width="20px"></td><td>' + obj.points[i].log +', ' + obj.points[i].lat +'</td></tr>\
          <tr><td><img src="static/image/PointTypeIcon.png" id="point-info-icon" width="20px"></td><td>' + obj.points[i].type +'</td></tr>\
          <tr><td><img src="static/image/PointRuntimeIcon.png" id="point-info-icon" width="20px"></td><td>' + obj.points[i].runtime +'</td></tr>\
          <tr><td><img src="static/image/PointCrowdedIcon.png" id="point-info-icon" width="20px"></td><td>' + obj.points[i].crowded +'</td></tr>\
          <tr><td><img src="static/image/PointTelIcon.png" id="point-info-icon" width="20px"></td><td>' + obj.points[i].tel +'</td></tr>\
          <tr><td><img src="static/image/PointReviewIcon.png" id="point-info-icon" width="20px"></td><td>' + obj.points[i].good_percent + '<span class="star5_rating" data-rate="' + obj.points[i].good_percent2 + '"></span></td></tr>\
        </table>\
        <p id="point-description">' + obj.points[i].description +'</p>\
        </div>';

      marker = L.marker([ obj.points[i].lat, obj.points[i].log]).addTo(map);
      marker.bindPopup(obj.points[i].name).openPopup();
      i++;
    }
  };
  ajax.send();

  console.log("aaaaaa!!" + posString);

}


</script>

</html>

