
<div class="side-point" onclick="showPoint(35.9, 136.7)">
    <h3>テストのお店1</h3>
    <img src="static/image/cat.jpg" id="point-thumb">
    <img src="{{ url_for('video_feed') }}" id="point-camera">
    <table class="point-info">
        <tr><td><img src="static/image/PointAddressIcon.png" id="point-info-icon" width="20px"></td><td>{{ data.address }}</td></tr>
        <tr><td><img src="static/image/PoinLogLatIcon.png" id="point-info-icon"  width="20px"></td><td>{{ data.log }}, {{ data.lat }}</td></tr>
        <tr><td><img src="static/image/PointTypeIcon.png" id="point-info-icon" width="20px"></td><td>{{ data.type }}</td></tr>
        <tr><td><img src="static/image/PointRuntimeIcon.png" id="point-info-icon" width="20px"></td><td>{{ data.runtime }}</td></tr>
        <tr><td><img src="static/image/PointCrowdedIcon.png" id="point-info-icon" width="20px"></td><td>{{ data.crowded }}</td></tr>
        <tr><td><img src="static/image/PointTelIcon.png" id="point-info-icon" width="20px"></td><td>{{ data.tel }}</td></tr>
        <tr><td><img src="static/image/PointReviewIcon.png" id="point-info-icon" width="20px"></td><td>{{ data.good_percent }}<span class="star5_rating" data-rate="{{ data.good_percent_2 }}"></span></td></tr>
    </table>
    <p id="point-description">{{ data.description }}</p>
</div>

