
body{
    overflow: hidden;
}

main{
    position:relative;
} 


#mapid{
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}



/*  ###################################
#####    検索バー    #######
###################################*/
aside{
    position: relative;
    z-index: 10;
    width: 340px;
    left:13px;
    top:13px;
    opacity: 0.8;   
    font-size:15px;
}


.search {
  width: 100%;
  position: relative;
  display: flex;
  margin:0px;
  padding:0px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  font-weight: bolder;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:hover{
  color: #00B4CC;
}


.searchButton {
  width: 70px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  font-weight:bolder;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 18px;
}


/*  ###################################
#####       menu            #######
###################################*/
.tab-wrap {
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
}
.tab-label {
    color: #000;
    background: #aaf;
    margin-right: 5px;
    padding: 3px 12px;
    order:-1;
    font-weight: bold;
}
.tab-content {
    width: 100%;
    display: none;
}
.tab-switch:checked+.tab-label {
    background: #33e;
    color: #fff;
}
.tab-switch:checked+.tab-label+.tab-content {
    display: block;
    background:#fff;
    padding:10px;
    margin-top: 10px;
    border-radius: 10px;
}

.side-scroll{
max-height: calc(100vh - 9rem);
overflow-y: auto;
overflow-x: hidden;
}

.tab-switch {
    display: none;
}


.side-point{
    background: #dde;
}


.point-thumb{
    width: 80%;
}

.point-camera{
    width: 80%;
}

#point-description{
    font-size: 12px;
}



/*  ###################################
#####       スター            #######
###################################*/

.star5_rating{
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #CCCCCC; /* グレーカラー 自由に設定化 */
    /*font-size: 30px; フォントサイズ 自由に設定化 */
    margin-left:10px;
}

.star5_rating:before, .star5_rating:after{
    content: '★★★★★';
}

.star5_rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
.star5_rating[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */
.star5_rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
.star5_rating[data-rate="3.5"]:after{ width: 70%; } /* 星3.5 */
.star5_rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
.star5_rating[data-rate="2.5"]:after{ width: 50%; } /* 星2.5 */
.star5_rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
.star5_rating[data-rate="1.5"]:after{ width: 30%; } /* 星1.5 */
.star5_rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
.star5_rating[data-rate="0.5"]:after{ width: 10%; } /* 星0.5 */
.star5_rating[data-rate="0"]:after{ width: 0%; } /* 星0 */


